body {
    margin: 0;
    text-align: center;
    color: sandybrown;
    text-shadow: 1px 2px black;
}

img {
    width: 200px;
    border: 3px solid #84806C;
    border-radius: 50%;
    max-width: 100%;
}

#hero {
    background-image: url("images/spanish-moss-trees.jpg");
    background-size: cover;
    background-position: center 75%;
    /*height: 500px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Verdana, sans-serif;
    margin-bottom: 0;

}
#hero, #activity {
    height: 60vh; /* 40% of the viewport height */
}

#activity {
    margin: 0;
    /*height: 500px;*/
    background-image: url("images/savannah-marsh.jpg");
    background-position: center 75%;
    background-size: cover;
    display: block;
    border: 6px solid darkolivegreen;
    color: whitesmoke;
    text-shadow: 0 2px black;
    font-weight: bolder;

}
 .container {
     display: flex;
     justify-content: space-around;
     align-content: center;
     flex-wrap: wrap;
 }

 #avatar {
     width: 100px;
 }

 #big {
     height: 150px;
 }

 .small {
     height: 150px;
 }

 .card-p {
     width: 150px;
     margin-left: auto;
     margin-right: auto;
     border-radius: 20%;
     padding: 0 5px;
 }

 .activities:hover {
     transform: scale(1.2);

 }

 .activities {
     transition: transform 0.3s ease-in-out;
     max-width: 100%;
 }
 #guide {
     width: 500px;
     display: flex;
     justify-content: center;
     margin: 0 auto;
     background: #23470D;
     border: 5px solid #84806C;
     padding: 5px 10px;
 }

 #contactMe {
     padding: 0;
     will-change: filter;
     transition: filter 300ms;
 }
.logo.linkedIn:hover {
    filter: drop-shadow(0 0 2em #0072b1)
}
.logo.linkedIn {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 0;
    margin-top: 25px;
}

#foot {
    margin: 0;
    padding: 25px 0 50px 0;
    background-image: url("images/texture2.jpg");
    background-position: center 75%;
    background-size: cover;

}

@media (max-width: 768px) {
    body {
        font-size: 14px; /* Adjust font size for mobile */
    }
    #hero {
        height: fit-content;
    }

    #activity {
        height: fit-content;
    }
    #contactMe {
        height: fit-content;
        width: 100%;
    }

    #guide {
        width: fit-content; /* Full width on small screens */
        margin: 10px 0; /* Adjust margin */
    }


}